<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Naruto</title>
<link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
	<div align="center">
		| <a href="/">Personagens</a> | <a href="/vilas/">Vilas</a> | <a href="/classes/">Classes Ninjas</a> |
		<h1>Naruto | Classes Ninjas</h1>
		<h2><a href="/classes/nova">Nova</a></h2>
		<br />
		<table>
			<thead>
				
				<tr>
					<th>Nome</th>
					<th align="center">Editar</th>
					<th align="center">Excluir</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="classe : ${classes}">
					<td th:text="${classe.nome}">Nome</td>
					<td align="center"><a th:href="@{/classes/editar/{id}(id=${classe.id})}">Editar</a></td>
					<td align="center"><a th:href="@{/classes/excluir/{id}(id=${classe.id})}">Excluir</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>