<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Naruto</title>
<link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
	<div align="center">
		| <a href="/">Ninjas</a> | <a href="/vilas/">Vilas</a> | <a href="/classes/">Classes Ninjas</a> |
		<h1>Naruto | Ninjas</h1>
		<h2><a href="/novo">Novo</a></h2>
		<br />
		<table>
			<thead>
				
				<tr>
					<th>Nome</th>
					<th>Classe Ninja</th>
					<th>Vila</th>
					<th align="center">Editar</th>
					<th align="center">Excluir</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="ninja : ${ninjas}">
					<td th:text="${ninja.nome}">Nome</td>
					<td th:text="${ninja.classe.nome}">Classe Ninja</td>
					<td th:text="${ninja.vila.nome}">Vila</td>
					<td align="center"><a th:href="@{/editar/{id}(id=${ninja.id})}">Editar</a></td>
					<td align="center"><a th:href="@{/excluir/{id}(id=${ninja.id})}">Excluir</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>