<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />
	<title>Naruto - Spring Boot Thymeleaf example</title>

	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
	<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body>
<div th:replace="fragments/header :: header"></div>

<div class="container-fluid">
	<h2 class="text-center">[[${pageTitle}]]</h2>

	<div class="my-3">
		<form th:action="@{/ninjas/save}" method="post" enctype="multipart/form-data" th:object="${ninja}"
			  style="max-width: 550px; margin: 0 auto">

			<input type="hidden" th:field="*{id}" />

			<div class="p-3">
				<div class="form-group row">
					<label class="col-sm-3 col-form-label" for="nome">Nome:</label>
					<div class="col-sm-9">
						<input type="text" th:field="*{nome}" required minlength="2" maxlength="128" class="form-control"
							   id="nome" />
					</div>
				</div>

				<div class="form-group row">
					<label class="col-sm-3 col-form-label" for="classificacaoSelect">Classificação</label>
					<div class="col-sm-9">
						<select class="form-control" id="classificacaoSelect" th:field="*{classificacao.id}">
							<option th:each="classificacao : ${classificacoes}" th:value="${classificacao.id}" th:utext="${classificacao.nome}"></option>
						</select>
					</div>
				</div>

				<div class="form-group row">
					<label class="col-sm-3 col-form-label" for="vilaSelect">Vila</label>
					<div class="col-sm-9">
						<select class="form-control" id="vilaSelect" th:field="*{vila.id}">
							<option th:each="vila : ${vilas}" th:value="${vila.id}" th:utext="${vila.nome}"></option>
						</select>
					</div>
				</div>

				<div class="text-center">
					<input type="submit" value="Salvar" class="btn btn-primary btn-sm mr-2" />
					<input type="button" value="Cancelar" id="btnCancel" class="btn btn-secondary btn-sm" />
				</div>
			</div>
		</form>
	</div>
</div>

<div th:replace="fragments/footer :: footer"></div>

<script type="text/javascript">
		$(document).ready(function () {
		  $("#btnCancel").on("click", function () {
			window.location = "[[@{/ninjas}]]";
		  });
		});
  	</script>

</body>
</html>