<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Naruto</title>
</head>
<body>
	<div align="center">
		<h1>Novo Ninja</h1>
		<br />
		<form action="#" th:action="@{/salvar}" th:object="${ninja}"
			method="post">
			<table>
				<tr>
					<td>Nome:</td>
					<td><input type="text" th:field="*{nome}" /></td>
				</tr>
				<tr>
					<td>Classe Ninja:</td>
					<td>
						<select th:field="*{classe.id}" >
							<option th:each="classe : ${classes}" th:value="${classe.id}" th:utext="${classe.nome}"/>
						</select>
					</td>
				</tr>
				<tr>
					<td>Vila:</td>
					<td>
						<select th:field="*{vila.id}" >
							<option th:each="vila : ${vilas}" th:value="${vila.id}" th:utext="${vila.nome}"/>
						</select>
					</td>
				</tr>
				<tr>
					<td colspan="2"><button type="submit">Salvar</button></td>
				</tr>
				
			</table>
		</form>
	</div>
</body>
</html>